header {
  margin: 10px;
  color: #bb26ae;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

#questionContainer {
  display: flex;
  flex-direction: column;
  width: fit-content;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
