header {
  margin: 10px;
  color: #bb26ae;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  font-weight: bold;
}

#questionContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

button {
  width: 220px;
  height: 50px;
  margin-top: 10px;
  background-color: rgb(32, 13, 100);
  color: aliceblue;
  border-radius: 10px;
  font-size: 20px;
}

botton:hover {
  background-color: #bb26ae;
}

#answer {
  margin-top: 20px;
  font-size: 20px;
  font-weight: bold;
}

.hide {
  display: none;
}
